<div class="col-md-4 col-xs-12 team_info">

    <div class="team_edit ">
        <button type="button" class="btn btn-default fix-lulu edit_team_button" data-toggle="modal" data-target="#editModal">
            編輯球隊
        </button>
        <%= render :partial => 'edit_modal', :locals =>{team: team} %>

    </div>
    <div class="team_name ">
        <h3><%= team.name %></h3>
    </div>
    <div class="team_logo">
        <%= image_tag(team.logo.url(:thumb)) %>
    </div>

    <div class="team_content">
        <h3>聚會日期：<%= team.day %></h3>
        <h3>聚會時間：<%= "%02d" %team.start_time.hour %>：<%= "%02d" %team.start_time.min %>~~<%= "%02d" %team.end_time.hour %>：<%= "%02d" %team.end_time.min %></h3>
        <h3>球場位置：<%= team.location.place_name %></h3>
    </div>

</div>

<div class="col-md-8 col-xs-12 team_item">
    <div class="row team_item_header">
        <div class="col-md-8 col-xs-12 search_bar">
            <%= form_tag search_users_path(:team_id => team), :method => :get, :remote => true do %>
            <%= text_field_tag :search, params[:search], placeholder: "請輸入使用者ID,暱稱或信箱", class: "search_input"%>

            <%= submit_tag '', class: "checkbox submit_button" %>

            <% end %>
            <div class="find_user"></div>

        </div>
        <div class="col-md-4 col-xs-12 wrap_edit_team_member_button">
            <%= button_tag '編輯球隊成員' , :class => 'btn btn-default fix-lulu edit_team_member_button', :id => "edit_team_member_button" , :value => 'display' %>

        </div>
    </div>

    <div class="row team_member_wrap">
        <!-- <div class="screen"></div> -->
        <%= form_tag bulk_update_teams_path(:team_id => team.id) do %>
        <%= collection_check_boxes(:team, :user_ids, team.users, :id, :username) do |b| %>
        <div class="col-md-3 col-xs-6 team_member" id="team_member_<%= b.value %>" value="<%= b.value %>">
            <i class="fa fa-check" aria-hidden="true" id='tick'></i>

            <%= b.label(:"data-value" => b.value) { b.check_box + b.text } %>
            <br>
            <div id="member_photo">
                <%= user_avatar(b.object)%>
            </div>
        </div>
        <% end %>
        <div class="delete_button">
            <%= submit_tag "確認刪除", :class =>'btn btn-danger btn-lg' %>
        </div>
        <% end %>
    </div>
</div>

<!-- <script>
    $("[id^=team_user_ids]").attr("disabled", true);
</script> -->

<script>
    $("#edit_team_member_button").click(function () {
        // console.log($(this).text())
        var content = $(this).text();
        if (content == '編輯球隊成員') {
            $(this).text('取消選取');
            $('.delete_button').css("visibility", "visible");
            statusSelect()
        } else {
            $(this).text('編輯球隊成員');
            $("[id^=team_member_]").off('click');
            $('.delete_button').css("visibility", "hidden");
            $("[id^=team_user_ids]").prop("checked", false);
            $("[id^=team_member_]").removeClass("selected");
            $("[id^=member_photo]").css("opacity", "1");
            $("[id^=tick]").css("visibility", "hidden");
        }
    })
</script>

<script >
    function statusSelect() {
        console.log('1');
        $("[id^=team_member_]").on('click', function () {
            var input_id = "team_user_ids_" + this.getAttribute('value');
            if ($("#" + input_id).is(":checked")) {
                console.log('2');

                $("#" + input_id).prop("checked", false);
                $(this).removeClass("selected");
                $(this).children("#member_photo").css("opacity", "1");
                $(this).children(".fa-check").css("visibility", "hidden");

            } else {
                console.log('3');

                $("#" + input_id).prop("checked", true);
                $(this).addClass("selected");
                $(this).children("#member_photo").css("opacity", "0.1");
                $(this).children(".fa-check").css("visibility", "visible");
            }
        });
    }
</script>

<!-- <script>
    $("[id^=team_member_]").click(function () {
        var input_id = "team_user_ids_" + this.getAttribute('value');
        console.log(this)
        if ($("#" + input_id).is(":checked")) {
            $("#" + input_id).prop("checked", false);
            $(this).removeClass("selected");
            $(this).children("#member_photo").css("opacity", "1");
            $(this).children(".fa-check").css("visibility", "hidden");

        } else {
            $("#" + input_id).prop("checked", true);
            $(this).addClass("selected");
            $(this).children("#member_photo").css("opacity", "0.1");
            $(this).children(".fa-check").css("visibility", "visible");
        }
    });
</script> -->

</div>

<!--
<script>
$('.team_list > form > .team_member').on('click',function()
{
$(this).children().children().toggleClass('just-for-demo')
})

</script> -->

<!-- <style>

div[value^="asd"] img:focus {
  box-shadow: blue;
}

</style>
-->

<!-- <script>
        $('input[type="checkbox"]').change(function () {
        console.log("hello")
        if ($(this).is(":checked")) {
            $(this).parent().addClass("selected");
        } else {
            $(this).parent().removeClass("selected");
        }
    });
</script> -->
