<div class="row team_item">

    <div class="row fuction_bar">

        <div class="search_bar col-md-offset-6 col-md-3 col-xs-12">
        <%= form_tag search_users_path(:team_id => team), :method => :get, :remote => true do %>
            <%= text_field_tag :search, params[:search], placeholder: "輸入使用者ID 或 Email", class: "transparent"%>
            <%= submit_tag "搜尋" %>
        <% end %>
        </div>

        <div class="col-md-3 col-xs-12 ">
          <%= link_to '編輯球隊成員', nil, :class => 'btn btn-default' %>
        </div>
    </div>

    <div class="find_user">
    </div>

    <div class="row team_info">
        <div class="col-md-4 col-xs-12">
            <div class="team_logo">
                <%= image_tag(team.logo.url(:thumb)) %>
            </div>
            <div class="team_name">
                <h3>球隊名稱：<%= team.name %></h3>
            </div>
            <div class="team_content">
                <h3>球聚地點：<%= team.location.place_name %></h3>
                <h3>球聚時間：<%= team.day %><br><%= "%02d" %team.start_time.hour %>：<%= "%02d" %team.start_time.min %>~~<%= "%02d" %team.end_time.hour %>：<%= "%02d" %team.end_time.min %></h3>

                <div class="team_edit">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editModal">
                      編輯球隊
                  </button>
                  <%= render :partial => 'edit_modal', :locals =>{team: team} %>

                </div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12 team_list">
            <% team.users.each do |u| %>
            <div class="col-md-3 col-xs-2 team_member">
                <span class="user_name">
                    <%= u.username %></span>
                <img src="http://placehold.it/140x150">
            </div>
            <% end %>
        </div>
    </div>
</div>
