<div class="row team_item">
    <div class="row fuction_bar">

        <div class="search_bar col-md-offset-6 col-md-3 col-xs-12">
            <%= form_tag search_users_path(:team_id => team), :method => :get, :remote => true do %>
            <%= text_field_tag :search, params[:search], placeholder: "輸入使用者ID 或 Email", class: "transparent"%>
            <%= submit_tag "搜尋" %>
            <% end %>
        </div>

        <div class="col-md-3 col-xs-12 ">
            <%= link_to '編輯球隊成員', nil, :class => 'btn btn-default' %>
        </div>
    </div>

    <div class="find_user"></div>

    <div class="row team_info">
        <div class="col-md-4 col-xs-12">
            <div class="team_logo">
                <%= image_tag(team.logo.url(:thumb)) %>
            </div>
            <div class="team_name">
                <h3>球隊名稱：<%= team.name %></h3>
            </div>
            <div class="team_content">
                <h3>球聚地點：<%= team.location.place_name %></h3>
                <h3>球聚時間：<%= team.day %><br><%= "%02d" %team.start_time.hour %>：<%= "%02d" %team.start_time.min %>~~<%= "%02d" %team.end_time.hour %>：<%= "%02d" %team.end_time.min %></h3>

                <div class="team_edit">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editModal">
                        編輯球隊
                    </button>
                    <%= render :partial => 'edit_modal', :locals =>{team: team} %>

                </div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12 team_list">
          <div class="row team_member_wrap">

            <%= form_tag bulk_update_teams_path(:team_id => team.id) do %>
            <%= collection_check_boxes(:team, :user_ids, team.users, :id, :username) do |b| %>
                <div class="col-md-3 col-xs-2 team_member" id ="team_member_<%= b.value %>" value="<%= b.value %>">
                  <i class="fa fa-check" aria-hidden="true"></i>

                  <!-- <div class="screen"> -->

                    <%= b.label(:"data-value" => b.value) { b.check_box + b.text } %>
                    <div class="member_photo" id ="member_photo" >
                        <img src="http://placehold.it/120x120">
                    </div>


                    <!-- 問題：諸如需要拿一些id到後台做事情的，在前端還是後端？
                  問題：為了在刪除球員時，讓使用者點圖片即可選取隊員，目前使用label，並與checkbox_input連接上，但如使一來就無法使用ids，將id包成陣列，進而大量刪除releationship -->
                    <!-- 問題：同時也必須拿著team進去到controller一起判斷是要刪除哪一隊     -->
                <!-- </div> -->
                </div>
                <% end %>
            </div>
            <span class="container delete_button">
                <%= submit_tag "確認刪除", :class =>'btn btn-danger btn-lg' %>
            </span>
            <%end%>
        </div>
    </div>
</div>

<script>
    $("[id^=team_member_]").click(function () {
        var input_id = "team_user_ids_" + this.getAttribute('value');
        console.log(this)
        if ($("#" + input_id).is(":checked")) {
            $("#" + input_id).prop("checked", false);
            $(this).removeClass("selected");
            $(this).children("#member_photo").css("opacity", "1");
            $(this).children(".fa-check").css("visibility", "hidden");

        } else {
            $("#" + input_id).prop("checked", true);
            $(this).addClass("selected");
            $(this).children("#member_photo").css("opacity", "0.1");
            $(this).children(".fa-check").css("visibility", "visible");
        }
    });
</script>

<!-- <script>
  $('.team_member').click(function(){
    // if ($(this).is(":opacity:0.1")){
    }
    else {
    }

  })
</script> -->

<!--
<script>
$('.team_list > form > .team_member').on('click',function()
{
$(this).children().children().toggleClass('just-for-demo')
})

</script> -->

<!-- <style>

div[value^="asd"] img:focus {
  box-shadow: blue;
}

</style>
-->

<!-- <script>
        $('input[type="checkbox"]').change(function () {
        console.log("hello")
        if ($(this).is(":checked")) {
            $(this).parent().addClass("selected");
        } else {
            $(this).parent().removeClass("selected");
        }
    });
</script> -->

<!--
<form action="post">
  <% team.users.each do |u| %>
  <div class="col-md-3 col-xs-2 team_member">
      <span class="user_name">
          <%= u.username %></span>

      <label for="u.username">
        <img src="http://placehold.it/140x150">
        <input type="checkbox" name="u.username" id="u.username"></input>
      </label>
  </div>
  <% end %>
  <input type="submit" value="送出">
</form> -->
