<div class="container_mobile_first">
  <h1> <font color="#FFF">修改密碼</font> </h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <font size="4" color="#FFF">信箱:</font><br/>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <font size="4" color="#FFF">請輸入新密碼</font><br/>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <font size="4" color="#FFF">請再次輸入新密碼</font>><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <font size="4" color="#FFF">請輸入舊密碼</font>><br/>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>

<% end %>

<%= link_to "回到上一頁", :back %>

</div>
