<div class="container_mobile_signup">

  <br>
  <br>
    <%=  image_tag("logo.png") %>
    <h1>我的記分板</h1>
    <div class="sign_logo"> <h3>註冊</h3> </div>
  <br>
  <br>
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider) do%>
          <%=  image_tag("loginfb.png") %><br>
        <% end %>
      <% end -%>
    <% end -%>


    <br>
     <span style="text-decoration:underline;">或</span>
    <br>
    <br>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field1 password_area">
     <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <%= f.text_field :userid, autofocus: true, placeholder: "使用者名稱", class: "transparent"  %>
    </div>

    <br>
    <div class="field1 password_area">
      <%=  image_tag("glyphicons-758-gender-ori-hetero.png", size: "18x18") %>
      <%= f.text_field :gender, autofocus: true, placeholder: "男/女", class: "transparent"  %>
    </div>

    <br>
    <div class="field1 email_area2">
     <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      <%= f.email_field :email, autofocus: true, placeholder: "信箱", class: "transparent"  %>
    </div>
   <br>
    <div class="field1">
      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      <%= f.password_field :password, autocomplete: "off", placeholder: "輸入密碼", class: "transparent"%>
      <% if @minimum_password_length %>
       <em>(最少<%= @minimum_password_length %>位數)</em>
      <% end %>
    </div>

    <br>
    <div class="field1 password_area">
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "請再輸入一次密碼", class: "transparent"%>
    </div>

    <br>
    <br>
    <div class="actions">
      <%= f.submit "註冊", class: "btn btn-success"  %>
    </div>

   <% end %>






</div>
