<div class="row">
  <div class="userpage_team_name">
    <h2><%= team.name %></h2>
  </div>
</div>

<% if @team_games.present? %>
  <div class="row user_team_list_area2">
    近期成績
    <div class="row user_recoed">
        <div class="col-lg-4 col-md-4 col-sm-4 user_recoed_left">
          <div class="row user_recoed_area">
            <div class="col-lg-3 col-md-3 col-sm-3 ">
              <%= user_photo_games(@user1)%>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <%= @username1 %>
            </div>
          </div>
          <br>
          <div class="row user_recoed_area">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <%= user_photo_games(@user2)%>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <%= @username2 %>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="final_score">
            <font size="5"><b><%= @score1 %></b></font>
            <b>VS</b>
            <font size="5"><b><%= @score3 %></b></font>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 user_recoed_right">
          <div class="row user_recoed_area">
            <div class="col-lg-3 col-md-3 col-sm-3 ">
              <%= user_photo_games(@user3)%>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <%= @username3 %>
            </div>
          </div>
          <br>
          <div class="row user_recoed_area">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <%= user_photo_games(@user4)%>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <%= @username4 %>
            </div>
          </div>
        </div>
    </div>
    <br>
      <div class="row user_recoed">
        <% if @team_record2.present? %>
        <div class="col-lg-4 col-md-4 col-sm-4 user_recoed_left">
          <div class="row user_recoed_area">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <%= user_photo_games(@user5)%>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <%= @username5 %>
            </div>
          </div>
          <br>
          <div class="row user_recoed_area">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <%= user_photo_games(@user6)%>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <%= @username6 %>
            </div>
          </div>
        </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="final_score">
              <font size="5"><b><%= @score5 %></b></font>
              <b>VS</b>
              <font size="5"><b><%= @score7 %></b></font>
            </div>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-4 user_recoed_right">
          <div class="row user_recoed_area">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <%= user_photo_games(@user7)%>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <%= @username7 %>
            </div>
          </div>
          <br>
          <div class="row user_recoed_area">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <%= user_photo_games(@user8)%>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <%= @username8 %>
            </div>
          </div>
        </div>
      <% end %>   
    </div>
  </div>

  <div class="row user_team_list_area3">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h3>戰積：</h3><br/>
      <div class="user_team_list_gamescore">比賽場數：<%= @games %></div><br/>
      <div class="user_team_list_gamescore">勝率：<%= @win_rate %>% </div><br/>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h3>最佳搭擋：</h3>
       <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6">
         雙打<br/>
         <% if @best_double_partner.present? %>
         <%= user_photo_games(@best_double_partner)%> <br/>
         <%= @best_double_partner.username %>
         <% end %>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6">
         混雙<br/>
         <% if @best_mix_partner.present? %>
         <%= user_photo_games(@best_mix_partner)%> <br/>
         <%= @best_mix_partner.username %>
         <% end %>
         </div>
       </div>
    </div>
  </div>
<% else %>
   <h3> 沒有近期成績 </h3>
<% end %>
