<div class="container_mobile_first">

  <div class="row editbar">

    <h1>修改個人資料</h1>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="visible-md visible-lg">
      <img src="http://placehold.it/252x353">
      </div>
      <div class="visible-xs visible-sm">
      <img src="http://placehold.it/189x264">
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

      <%= form_for @user do |f| %>
        使用者名稱:
        <div class="field1 edit_area">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <%= f.text_field :username, autofocus: true, placeholder: "使用者名稱", class: "transparent"  %>
        </div>

        使用者ID:
        <div class="field1 edit_area">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <%= f.text_field :userid, placeholder: "ID", class: "transparent" %>
        </div>

        Email:
        <div class="field1 edit_area">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <%= f.email_field :email, autofocus: "off", class: "transparent"  %>
        </div>

        性別:
        <div class=" edit_area">
          <%=  image_tag("glyphicons-758-gender-ori-hetero.png", size: "18x18") %>
           <%= f.radio_button :gender, "male" %>
           <%= f.label :gender_male, "Male" %>
           <%= f.radio_button :gender, "female" %>
           <%= f.label :gender_female, "Female" %>
        </div>
        <br>
        <br>
        <%= f.submit %>
        <% end %>
    </div>

  </div>


</div>

