<div id="user_page">

<div class="container_mobile_user">
<div class="row">

   <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 user_data_area">

    <div class="row">
     <div class="update_playercard">

     </div>
    </div>

      <div class="row user_data_1">
      <!-- Button trigger modal -->
          <div data-toggle="modal" data-target="#myModal">
           <font size="4" color="#84AEEE" class="edit_page">編輯個人資訊</font>
          </div>
      </div>

      <div class="row user_data_2">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
           <%=  image_tag("steven.jpg", height: '160', width: '98', class: "playercard")%>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <font size="5" color="#FFD200" class="show_username "><%= @user.username %></font> <br><br>
          <font size="4" color="#FFF" class="lighter team_rank">球隊總排名：2 </font> <br><br>
          <font size="4" color="#FFF" class="lighter total_game">累計總場次：87</font>  <br><br>
          <font size="4" color="#FFF" class="lighter win_percentage">勝率： 80% (勝70敗17)</font>
        </div>

      </div>

      <div class="row user_data_3">
       <font  color="#FFF" class="lighter float_left ">近期比賽</font>
      </div>
      <div class="row user_data_4">
      <%=  image_tag("score.png", height: '126', width: '300') %>
      </div>

      <div class="row user_data_3">
       <font color="#FFF" class="lighter float_left ">最佳拍檔</font>
      </div>

      <div class="row user_data_6">
      <%=  image_tag("best＿partner.png") %>
      </div>


   </div>


   <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">

     <div class="player_card">
      <div class="face front">

       <div class="row powerful ">
       <font size="10" class="" >戰力分析</font>
       </div>
       <br>

       <%=  image_tag("fivestar.png") %>
      </div>

     <div class="face back">

       <div class="row powerful">
       <font size="10" class="" >球員卡</font>
       </div>
       <br>
     <div class="watermark_box">
     <% @cards.each do |c| %>
     <%= image_tag c.avatar.url,height: '390', width: '520'%>
     <% end %>
     </div>
     <%#= image_tag "P2140908.jpg",height: '390', width: '520'%>
     <%= image_tag "cover1.png",height: '390', width: '520', class:"watermark"%>
     </div>

    </div>


<!-- Modal -->
  <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <div class ="row">
                  <button type="button" class="close close_x" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                  <i class="fa fa-times fa-4" aria-hidden="true"></i>
                  </span>
                  </button>
                </div>
              <div class="row">
              <%=  image_tag("steven.jpg", height: '240', width: '143', class: "playercard")%><br>
上傳球員卡:<br>
<div class="head_submit">
<!-- 這邊上傳球員卡 -->
      <%= form_for @card, url: user_cards_path(@user), html: { multipart: true } do |form| %>
      <%= form.file_field :avatar %>
      <%= form.submit %>
      <% end %>
  </div>
<!-- 這邊上傳球員卡 -->

              <%= form_for @user do |f| %>
              上傳大頭照:<br>
              <div class="head_submit">
              <%= f.file_field :head %>
              </div>
              ID:<%= @user.userid %>
              <br>
              <br>
              </div>
              <div class="row">
              <div class="emailemail">
                <font color="#E0E0E0">帳號</font> <br>
              </div>

              <div class="useremail">
                <%= @user.email %>
              </div>
              <br>
              <br>
              <div class="emailemail">
              <font color="#E0E0E0">暱稱 </font>
              </div>
                <div class="">
                  <%= f.text_field :username, autofocus: true, placeholder: "使用者名稱", class: "username_box"  %>
                </div>
                <br>

                <div class="emailemail">
                <font color="#E0E0E0">性別</font>
                </div>

                <div class="form-group">
                <%= f.select :gender,options_for_select([["男生","male"],["女生","female"]]),{}, {:class => "username_box"}%>
                <br>
                <br>
                </div>

                 <%= f.submit "儲存", class: "btn save_submit" %><br><br>
               </div>
              </div>
              <% end %>
          </div>
      </div>
  </div>

<br><br>





   </div>

 </div>

</div>

</div>

<script>
</script>
