 <div class="container_mobile_user">

<div class="row">
 <h1><%=@user.userid%>的個人頁面</h1>
</div>

<div class="row">

   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

      <div class="playercard">

       <div class="face front">
          <br>
          <br>
          <%= user_avatar(@user) %>
          <ul>
          <P> id：<%= @user.userid %></P>
          <br>
          <br>
          <P> 暱稱：<%= @user.username %></P>
          <P> gender：<%= @user.gender %></P>
          <P> E-mail：<%= @user.email %> </P>
          </ul>
      </div>

      <div class="face back ">

       <%= image_tag "Kumamon.jpg"%>

      </div>

    </div>

  </div>


   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">

<!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        編輯個人頁面
                    </button>
<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>


              <%= form_for @user do |f| %>
                使用者名稱:
                <div class="field1 edit_area">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <%= f.text_field :username, autofocus: true, placeholder: "使用者名稱", class: "transparent"  %>
                </div>

                使用者ID:
                <div class="field1 edit_area">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <%= f.text_field :userid, placeholder: "ID", class: "transparent" %>
                </div>

                Email:
                <div class="field1 edit_area">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                  <%= f.email_field :email, autofocus: "off", class: "transparent"  %>
                </div>

                性別:
                <div class=" edit_area">
                  <%=  image_tag("glyphicons-758-gender-ori-hetero.png", size: "18x18") %>
                   <%= f.radio_button :gender, "male" %>
                   <%= f.label :gender_male, "Male" %>
                   <%= f.radio_button :gender, "female" %>
                   <%= f.label :gender_female, "Female" %>
                </div>
              </div>

              <div class="modal-footer">
                  <%= f.submit "儲存", class: "btn btn-primary" %><br><br>
                  <% end %>
                  <button class="btn" data-dismiss="modal" aria-hidden="true">關閉</button>
              </div>
          </div>
      </div>
  </div>

<br><br>

      上傳球員卡
      <%= form_for @card, url: user_cards_path(@user), html: { multipart: true } do |form| %>
      <%= form.file_field :avatar %>
      <%= form.submit %>
      <% end %>
      上傳大頭照

      <%= form_for @user, url: user_path(@user), :method => :patch, html: { multipart: true } do |form| %>
      <%= form.file_field :head %>
      <%= form.submit %>
      <% end %>

   <% @cards.each do |c| %>
   <%= image_tag c.avatar.url(:thumb)%>
   <% end %>

   </div>

 </div>

</div>
