<div class="container info">
	<h1>  排行榜Page </h1>
	
    <div class="row ">
      <div class="col-sm-1"></div>
  
      <div class="col-sm-10">
      	<div class="nav nav-tabs pull-left">
			    <li class="dropdown">
             <a data-toggle="dropdown" class="dropdown-toggle" href="#">選擇球隊 <b class="caret"></b></a>
             <ul class="dropdown-menu">
              <% @teams.each do |team| %>
       			  <li><%= link_to team.name, games_path( :team => team ) %></li>
              <% end %>
          </li>
      	</div>
        <div class="nav nav-tabs pull-right">  
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "單打", games_path %></li>
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "雙打", games_path %></li>
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "混雙", games_path %></li>
        </div>
      </div>
    </div>
    <div class="row">
    	<div class="col-sm-1"></div>
        <div class="col-sm-5">
        	<table class = "table">
      			<thead class = "thead">
       				<th> <%= "男子選手排行榜"%></th>
       				</thead>
       				<tbody> 
      				 <tr>
        				<td>aaa</td>
        			 </tr>
        			  <tr>
        				<td>bbb</td>
        			 </tr>
        			  <tr>
        				<td>ccc</td>
        			 </tr>
        			  <tr>
        				<td>ddd</td>
        			 </tr>
        			  <tr>
        				<td>eee</td>
        			 </tr>
        			</tbody>
       		</table>
        </div>
        <div class="col-sm-5">
       		<table class = "table ">
     			<thead class = "thead">
       			 <th> <%= "女子選手排行榜"%></th>
       			</thead>
       			<tbody> 
     				<tr>
        				<td>aaa</td>
        			 </tr>
        			  <tr>
        				<td>bbb</td>
        			 </tr>
        			  <tr>
        				<td>ccc</td>
        			 </tr>
        			  <tr>
        				<td>ddd</td>
        			 </tr>
        			  <tr>
        				<td>eee</td>
        			 </tr>
        		</tbody>
       		</table>
        </div>
       	<div class="col-sm-1"></div>
  
    </div>
    
</div>
