<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">功能介紹</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">關於團隊</a>
                    </li>
                    <li class="fake_area">
                    </li>
                    <li class="page-scroll">
                        <div class="pt4">
                            <div class="boder_area">
                                <a href="">登入</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-6">
                    <div class="row text-center">
                    <%=  image_tag("logo.png", size: "100") %>
                    </div>
                    <div class="row text-center">
                        <h1>我的記分板</h1>
                        <h2>記錄羽球生涯的最佳夥伴</h2>
                    </div>
                    <div class="row text-center">
                        <div class="btn_area">
                            <div class="col-lg-5">
                                <div class="btn welcome_login_submit welcome_btn">
                                Email註冊帳號
                                </div>
                            </div>
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="btn welcome_fb_submit welcome_btn">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;Facevook登入

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="easystep">
                    <div class="col-lg-12 text-center">
                        <h2>加入記分板&nbsp;&nbsp;&nbsp;簡單三步驟</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 step_boder">
                    <div class="row text-center">
                        <div class="firststep">
                            <h3>步驟 1 進入網站<font color="#00A8F6">註冊帳號</font></h3>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="secondstep">
                            我的記分板可以使用信箱註冊，</br>
                            或是直接用Facebook帳號連結
                        </div>
                    </div>
                    <div class="row text-center">
                    <%= image_tag "Step_1_Desktop.png" %>
                    </div>
                </div>
                <div class="col-lg-4 step_boder">
                    <div class="row text-center">
                        <div class="firststep">
                            <h3>步驟 2 進入APP<font color="#00A8F6">新增球隊</font></h3>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="secondstep">
                            只需要一個人登入APP，就可以</br>
                            把大家拉近同一個球隊群組
                        </div>
                    </div>
                    <div class="row text-center">
                    <%= image_tag "Step_2_Mobile.png" %>
                    </div>
                </div>
                <div class="col-lg-4 step_boder">
                    <div class="row text-center">
                        <div class="firststep">
                            <h3>步驟 3 輕輕鬆鬆<font color="#00A8F6">開始比賽</font></h3>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="secondstep">
                            在球場暖身時打開APP，按下開 </br>
                            始比賽完成基本設定後，就可以</br>
                            開始打球囉！Have Fun！
                        </div>
                    </div>
                    <div class="row text-center">
                    <%= image_tag "Step_3_Mobile.png" %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row text-center">
                <div class="threefunction">
                    <h1>三大功能 不可錯過</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                <%= image_tag "http://i.giphy.com/xT8qBrcgT4PEbYbsoU.gif", size: "197x400", alt: "Auto"%>
                </div>
                <div class="col-lg-5">
                    <h2>演算配對</h2>
                    <div class="functiondes">
                        可自由選擇今日出場的隊友，</br>
                        由系統自動安排賽程，也可以</br>
                        手動調整對戰組合。
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-4">
                    <h2>即時計分</h2>
                        <div class="functiondes">
                            除了計分外，系統將同時顯示</br>
                            下一組的對戰球員，讓隊友提</br>
                            前準備，提升場地使用時間每</br>
                            分每秒的效率。
                        </div>
                </div>
                <div class="col-lg-3">
                 <%= image_tag "http://i.giphy.com/xT8qB021hUnBO08qys.gif", size: "197x400", alt: "Score"%>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                <%= image_tag "http://i.giphy.com/3o72F6gS4X33mlH4ek.gif", size: "197x400", alt: "Record"%>
                </div>
                <div class="col-lg-5">
                <h2>英雄排行榜</h2>
                    <div class="functiondes">
                        系統將提供各種數據分析，每</br>
                        一場紀錄，都將成為自己運動</br>
                        生涯中的一個亮點。
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
        <div class="row text-center">
        <h2>關於團隊</h2>
        </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="aboutimg">
                        <%= image_tag("jump_man.jpg", size: "300")%>
                    </div>
                </div>

                <div class="col-lg-8 text-left">
                    <div class="aboutdes">
                        我們是一群熱愛羽球的上班族，假日或平日晚上的羽球聚</br>
                        會成為我們生活中不可或缺的精神糧食，為了大家決定上</br>
                        場順序的時間，以及輔助球友們更加了解自己長期累積的</br>
                        戰況，我們打造一款記錄運動比分的APP與網站。</br>
                        希望球友們更有意義地留下每場比賽的紀錄，同時添增團</br>
                        隊賽事的樂趣：趕緊加入我們，一起創造屬於自己的羽球</br>
                        大聯盟！</br>
                    </div>
                    <h3><b>我的計分板 記錄羽球生涯的最佳夥伴</b></h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <font size="4">
                            MyScoreBoard &copy; Since 2015
                        </font>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
