

<div class="container_mobile_first">

<div class="row">

    <br>
    <br>
      <%=  image_tag("logo.png") %><br><br>
      <%=  image_tag("pic_slogan.png") %>
    <br>
    <br>
    <br>

  </div>


  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 signin_box ">

     <div class="visible-xs visible-sm or_bar">

     <font color="#FFFFFF" class="or">
       或
     </font>
    </div>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field1">
         <div class="email_area">
         <font color="#FFFFFF">
         <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
         </font>
          <%= f.email_field :email, autofocus: true, placeholder: "信箱", class: "transparent"%>
         </div>
        </div>
       <br>
        <div class="field1">
        <font color="#FFFFFF">
          <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
        </font>
          <%= f.password_field :password, autocomplete: "off", placeholder: "密碼",
                                          class: "transparent"%>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>

        <%= link_to "忘記密碼", new_password_path(resource_name), class:"password_button" %><br />
        </div>
      <% end -%>
      <br>

        <div class="actions">
          <%= f.submit "登入", class: "btn login_submit" %>
        </div>
      <% end %>

    </div>

    <div class=" hidden-xs hidden-sm col-md-2 col-lg-2 ">
      <div class="nil_line"></div>
    </div>


    <div class="col-xs-12 colcol-sm-12 col-md-5 col-lg-5 facebook">

      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider) do%>
           <%=  image_tag("bn_login_facebook.png") %><br>
          <% end %>
        <% end -%>
      <% end -%>
    </div>

  </div>

  <div class="row createuser">
      <br>
      <br>

          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <font color="#FFFFFF">還沒加入我的記分板?&nbsp;&nbsp;&nbsp;</font>
          <span style="text-decoration:underline;">
          <%= link_to "建立帳號", new_registration_path(resource_name), class:"createuser_button" %><br />
          </span>
          <% end -%>
  </div>


</div>
