<!DOCTYPE html>
<html>
<head>
  <link href='http://product.myscoreboardapp.com/image/myscoreboard.ico' rel='myscoreboard icon'/>
  <title>Myscoreboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="padding80">
<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div id="brand-title" class="navbar-header">
            <span class="navbar-brand"> <%= link_to 'MyScoreBoard', games_path %></span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="brand-title" class="nav navbar-nav pull-right">
            <% if current_user %>
                <li><%= link_to "我的球隊", teams_path %></li>
                <li><%= link_to "排行榜", games_path %></li>
                <li><%= link_to "個人資訊", user_path(current_user),:method => :get%></li>
            <% end %>
            <% if current_user %>
                <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
                <li><%= link_to('註冊', new_registration_path(:user)) %></li>
                <li><%= link_to('登入', new_session_path(:user)) %></li>
            <% end %>
            </ul>
        </div>
    </div>
</nav>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '576937715814090',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  // $(document).ready( function() {
  //   $('.dropdown-toggle').dropdown();
  // });
</script>

<%= yield %>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MDN4JB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MDN4JB');</script>
<!-- End Google Tag Manager -->
</div>
</body>
</html>
